[user]
	name = Roberto Salome
	email = roberto.c.salome@gmail.com
[core]
	editor = vim
	pager = less
	#pager = delta
[color]
	ui = auto
[pull]
	ff = only
[push]
	default = current
[delta]
    line-numbers = true
[url "git@github.com:"]
    insteadOf = https://github.com/
